html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.root {
  width: 100%;
  overflow: hidden;
}

.columnUl {
  width: 100%;
  list-style: none;
  padding: 8px;
  margin: 10%;
  display: inline-block;
}

.li {
  margin-bottom: 12px;
  display: inline-block;
  width: 200px;
  margin-right: 5%;
}

.img {
  position: relative;
  margin-bottom: 4px;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border: 5px solid rgb(75, 72, 72);
  border-radius: 15px;
  box-shadow: 1px 1px 8px 1px black;
  display: inline-block;
}

.credit {
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #b3b3b3;
}
